<a href="https://colab.research.google.com/github/Jchethana1990/online-course/blob/master/day1_session2_exercise_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a program to print the triangle

In [1]:
k=1
n=int(input("enter n value: ")) 
for i in range(0,n):
  if(i>=2): 
    k=i+1
for j in range(0,i+1): 
  print(k,end=" ")
  k=k+1 
print()

enter n value: 5
5 6 7 8 9

2.python program to print pattern

In [2]:
rows =int(input("enter num: ")) 
for i in range(0, rows):
  for j in range(0, i + 1): 
    print("*", end=' ')

  print("\r")

enter num: 3
*
* *
* * *

In [0]:
3.pattren program

In [15]:
k=4
n=int(input("enter n value: "))
for i in range(n+1,0,-1):
  for j in range(i,n+1): 
    print(j,end=" ")
print()

enter n value: 5
5 4 5 3 4 5 2 3 4 5 1 2 3 4 5

4.pattern program

In [6]:
rows = int(input("enter num : ")) 
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1): 
      print(j, end=' ')
    print()

enter num : 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

5.pattern preogram

In [11]:
rows = 5
n=rows-1
for i in range(1, rows-1): 
  for j in range(i,rows):
    print(j,end=" ") 
  print()
for i in range(n+1,0,-1): 
  for j in range(i,n+1):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4

4
3 4
2 3 4
1 2 3 4

6.Find the length of a string without using len functions

In [12]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: hello
Length of the input string is: 5

7.Find the no of words and characters in a string

In [18]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:chethana gowda
Number of words in the string:
2
Number of characters in the string:
14

8.Find the no of occurrences of a word in a string

In [20]:
def countOccurences(str, word):   
    a = str.split(" ") 
    count = 0
    for i in range(0, len(a)): 
        if (word == a[i]): 
           count = count + 1       
    return count        
str ="python is very easy to learn and python is dynamically typed "
word ="python"
print(countOccurences(str, word))

2